@using TatilSeyahatSitesi.Models.Sınıflar
@model List<Blog>


<div class="padding">
    <h4>En Popüler Bloglar</h4>
    <ul class="list list-pad">
        @foreach(var x in Model) {
        <li class="list-bg"><span>@x.ID</span><a href="/Blog/BlogDetay/@x.ID">@x.Baslik</a></li>
        }
    </ul>
    <a href="/Blog/Index" class="link1">Tüm Blogları Gör</a>
</div>
